.body {
    font-family: "Noto Sans TC";
}

.container {
    position: relative;
    width: 50%;
    width: 200px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    backdrop-filter: blur(50px);
    border-radius: 100%;

}

.container:hover .overlay {
    opacity: 1;

}

.text {
    color: #176B87;
    font-size: 20px;
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

table {
    width: 100%;
    border: 1px solid #000;
    font-family: "Noto Sans TC";
}

th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #000;
}

.normal_cell {
    background-color: yellow;
}

.important_cell {
    background-color: greenyellow;
    color: white;
    font-weight: bold;

}

th {
    background-color: #176B87;
    font-weight: bold;
    color: white;
}